<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
    <style>
    </style>
    <script src="https://cdn.bootcss.com/vue/2.5.19/vue.min.js"></script>
</head>
<body>
<div id="root">
    <div>
        <input v-model="inputValue"/>
        <button @click="handleSubmit">提交</button>
    </div>
    <ul>
        <todo-item
                v-for="(item,index) of list"
                :key="index"
                :content="item"
                :index="index"
                @delete="handleDelete"
        ></todo-item>
    </ul>
</div>


<script>

    //注册一个vue 全局组件 todo-item, 其实每一个组件都是一个vue的实例，子组件依靠props来接受父组件传递的值
    //如果我们想使父组件的数据，则必须先在子组件中定义props属性，也就是props: ['content','index'],
    Vue.component('todo-item',{
        props:['content','index'],
        template:'<li @click="handleClick">{{content}}</li>',
        methods:{
            handleClick:function () {
                this.$emit('delete',this.index)
            }
        }
    })


    // 注册一个局部组件,局部组件要在vue实例中使用
    //  var TodoItem={
    //      template:'<li>item</li>'
    //  }


    new Vue({
        el: '#root',
        // components:{
        //   'todo-item':TodoItem
        // },
        data: {
            inputValue: 'hello',
            list: []
        },
        methods:{
            handleSubmit:function () {
                this.list.push(this.inputValue)
                this.inputValue=''
            },
            handleDelete:function(index){
                this.list.splice(index,1)
            }
        }
    })
</script>
</body>
</html>